html {
  background-color: #282c34;
}

body,
.title,
.label {
  color: white;
}
.title {
  margin: 20px 0;
}
.field {
  margin: 0 10px;
}

.title {
  text-align: center;
}

.App-header {
  margin: 20px;
  display: flex;
  color: white;
}
